<div id="form">
    <div class="container">
       <div class="center">
          <h3>EDIT FOOD ITEM</h3>
       </div>
 <div class="forms">
 <div class="form-group">
  <label for="exampleInputPassword1">FOOD NAME</label>
  <input type="text" class="form-control" [(ngModel)]='item.name' name="name" #name>
 </div><br>
 <div class="form-group">
  <label for="exampleInputPassword1">PRICE</label>
  <input type="text" class="form-control" [(ngModel)]='item.price' name="author" #price>
 </div><br>
 <div class="form-group">
  <label for="exampleInputPassword1">QTY</label>
  <input type="email" class="form-control" [(ngModel)]='item.quality' name="language" #quality>
 </div><br>
 
 <div class="form-group">
  <label for="exampleInputPassword1">VISUALS</label>
  <input type="text" class="form-control" [(ngModel)]='item.imageId' name="imageId" #imageId>
 </div><br>
 <div class="center">
    <button id="submit" (click)='edit()' class="btn btn-success">UPDATE</button>
 </div>
 </div>