<div>
    <nav style="background:linear-gradient(lightseagreen,blue);" class="navbar navbar-expand-sm navbar-dark Fixed-top" >
          
        <span class="open-slide">
            
        <button (click)="loadUsers()">Users</button>
    
      
                    <ul class="navbar-nav">
             
            </ul>
       
         
        </span>
    </nav>

<div class="col-xs-3 col-sm-3 col-md-3" *ngFor="let product of books"  >
    <div class="card align-items-center" style="width: 18rem; margin:10px; "   *ngIf="hide">
      <img src={{product.image}} class="card-img-top" alt="...">
        <div class="card-body">
         
            <h5 class="card-title" id="namepr">Type : {{product.booktype}}</h5>
            <p class="card-text"></p>
            <h6 class="card-title" >Book Name: {{product.bookname}}  <span></span></h6>
              <h6 class="card-title" >Author Name:   {{product.authorname}} <span></span></h6>
              <td><input type="button" value="delete"  (click)="deleteProduct(product.bookid)"/></td>
              <td><input type="button" value="update"  (click)="updateProduct(product)" (click)="Hide()"/></td>
        </div>
    </div>
  </div>
  
  <!-- <div *ngIf="flag">
    <h2>Update Product</h2>
    <label>product name</label>
    <form (ngSubmit)="
    updateProductdetails()">
        <label>PId</label>
<input type="number" name="pid" [(ngModel)]="bookid" readonly/><br>
<label>book name</label>
<input type="text" name="pname" [(ngModel)]="bookname"/><br>
<label>booktype</label>
<input type="number" name="price" [(ngModel)]="booktype"/><br>
<label>authorname</label>
<input type="text" name="authorname" [(ngModel)]="authorname"/><br>
<input type="submit" value="submit"/>
<input type="reset" value="reset"/>

</form>
</div>
{{storemsg}}
 -->

<div *ngIf="flag"></div>
 <form (ngSubmit)="
 updateProductdetails()">
    <div class="container" *ngIf="hide">
      <h1>Update</h1>
      <hr>
   <label for="FirstName"><b>BookId</b></label>
      <input type="text" type="number" name="pid" [(ngModel)]="bookid" readonly />
  
      <label for="lastName"><b>Book Name</b></label>
      <input type="text" name="pname" [(ngModel)]="bookname">
   <label for="email"><b>booktype</b></label>
      <input type="text"  name="price" [(ngModel)]="booktype">
  
      <label for="psw"><b>Author name</b></label>
      <input type="text" name="authorname" [(ngModel)]="authorname">
  
  
  
     
      <button type="submit" class="registerbtn">Register</button>
    </div>
 </form>


 
  <div class="col-xs-3 col-sm-3 col-md-3" *ngFor="let users of users"  >
    <div class="card align-items-center" style="width: 18rem; margin:10px; "  *ngIf="hide" >
    
        <div class="card-body">
         
            <h5 class="card-title" id="namepr">Type : {{users.firstname}}</h5>
            <p class="card-text"></p>
            <h6 class="card-title" >Book Name: {{users.lastname }} <span></span></h6>
              <h6 class="card-title" >Author Name:   {{users.email}} <span></span></h6>
              <h6 class="card-title" >Author Name:   {{users.password}} <span></span></h6>
              <td><input type="button" value="delete"  (click)="deleteUser(users.email)"/></td>
              <td><input type="button" value="update"  (click)="updateUser(users)" (click)="Hide()"/></td>
              
        </div>
    </div>
  </div>
  <div *ngIf="flag"></div>
 <form (ngSubmit)="
 updateUserdetails()">
    <div class="container">
      <h1>Update</h1>
      <hr>
   <label for="FirstName"><b>First Name</b></label>
      <input type="text"  name="firstname" [(ngModel)]="firstname" />
  
      <label for="lastName"><b>last Name</b></label>
      <input type="text" name="pname" [(ngModel)]="lastname">
   <label for="email"><b>email</b></label>
      <input type="text"  name="price" [(ngModel)]="email" readonly>
  
      <label for="psw"><b>password</b></label>
      <input type="text" name="authorname" [(ngModel)]="password">
  
  
  
     
      <button type="submit" class="registerbtn">Register</button>
    </div>
 </form>
